.dashboard-wrapper {
    padding-left: 0;
    padding-right: 0;
}

.dashboard-banner {
    margin: 0;
    text-align: center;
}

#dashboard-topics {
    float: left;
    list-style: none;
    margin-left: 0;
    width: 100%;
    margin-top: 1em;
}

#dashboard-section-outside-box {
    
}

#dashboard-sections {
    list-style: none;
    margin-left: 0;
    width: 100%;
    padding-bottom: 0;
    display: none;
}

#dashboard-sections li:not(:first-child) {
    margin-top: 5px;
}

#dashboard-sections-wrapper {
    padding: 25px;
    background-color: #AFAFAF;
    margin-top: 1em;
    display: none;
}

.right-wall-topic-menu {
    border-right: 1px solid #979797
}

li a.topic-buttons.nav-buttons {
    background-color: #DADADA;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
    width: 100%;
    color: #f1b82d;
    text-shadow: -1px 0 10px #565656, 0 1px 10px #565656, 1px 0 10px #565656, 0 -1px 10px #565656;
    font-size: 22px;
    padding: .25em;
    border-radius: 0;
    margin-bottom: -1px;
    outline: none;
}

li a.section-buttons.nav-buttons {
    background-color: #ffffff;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
    width: 100%;
    color: #565656;
    /*text-shadow: -1px 0 10px #565656, 0 1px 10px #565656, 1px 0 10px #565656, 0 -1px 10px #565656;*/
    font-size: 18px;
    padding: .2em;
    border-radius: 0;
    margin-bottom: -1px;
    outline: none;
}

li a.nav-buttons:hover {
    background-color: #C5C5C5;
    color: #f1b82d !important;
}

#dashboard-topics .nav-buttons-wrapper.active a.nav-buttons.btn {
    color: #f1b82d !important;
    background-color: #AFAFAF;
}

#dashboard-topics .nav-buttons-wrapper, #dashboard-sections .nav-buttons-wrapper {
    margin: 0;
    margin-top: 0;
}

ul li {
    padding-bottom: 0 !important;
}

.nav-buttons.btn:focus {
    color: #f1b82d !important;
}

#no-topics {
    margin-top: 3em;
    margin-right: 4.5em;
    margin-left: 4.5em;
}