/* Each div which takes of half of the content div, the outer most div underneath the breadcrumbs */
.dashboard-wrapper {
    padding-left: 0;
    padding-right: 0;
}

/* The Title for Topics which appear above the list of topics */
.dashboard-banner {
    margin: 0;
    text-align: center;
}

/* The actual list of Topics which hold sections */
#dashboard-topics {
    float: left;
    list-style: none;
    margin-left: 0;
    width: 100%;
    margin-top: 1em;
}

/* The actual list of Section names which hold dashboards */
.dashboard-sections {
    list-style: none;
    margin-left: 0;
    width: 100%;
    padding-bottom: 0;
    display: none;
}

/* Spaces out all of the section names out JUST a little bit*/
.dashboard-sections li:not(:first-child) {
    margin-top: 0.25em;
}

/* A div that holds the list of section names and dashboards */
.dashboard-sections-wrapper {
    padding: 25px;
    background-color: white;
    margin-top: 1em;
    display: none;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
    /* Prevents stupid bootstrap stuff */
    margin-bottom: 0.5em;
}

/* A class literally just to add styling to topic buttons via jQuery */
.right-wall-topic-menu {
    border-right: 1px solid #979797
}

/* Buttons for topics with topic names */
li a.topic-buttons.nav-buttons {
    background-color: #DADADA;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
    width: 100%;
    color: black;
    font-size: 22px;
    padding: .25em;
    border-radius: 0;
    margin-bottom: -1px;
    outline: none;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

/* Buttons for Sections with Section names */
#accordion .panel .panel-heading a.section-buttons.nav-buttons.btn {
    width: 100%;
    color: #565656 !important;
    font-size: 18px;
    padding: .4em .4em;
    border-radius: 0;
    margin-bottom: -1px;
    outline: none;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    border: none;
}

/* When you hover over a topic button */
li a.topic-buttons.nav-buttons:hover {
    background-color: #C5C5C5;
    color: #f1b82d !important;
    text-shadow: 1px 0 #6F6F6F,0 -1px #6F6F6F,-1px 0 #6F6F6F, 0 1px #6F6F6F;
}

/* When you hover over a section button */
div a.section-buttons.nav-buttons:hover {
    background-color: #E6E5E5;
}

/* When a Topic is selected, the colors don't change, otherwise bootstrap tries to replace with its own styling */
#dashboard-topics .nav-buttons-wrapper.active a.nav-buttons.btn {
    color: #f1b82d !important;
    background-color: white;
}

/* Fixes background issues */
#dashboard-topics .nav-buttons-wrapper.active a.nav-buttons.section-buttons.btn {
    background-color: transparent;
}

/* Pushes all topics buttons and section buttons together vertically */
#dashboard-topics .nav-buttons-wrapper, .dashboard-sections .nav-buttons-wrapper {
    margin: 0;
    margin-top: 0;
}

/* Pushes buttons together vertically, otherwise bootstrap styling will make it look uneven vertically */
ul li {
    padding-bottom: 0 !important;
}

/* Fixes stupid bootstrap styling  */
.dashboards li:first-child {
    margin-left: 0;
}

/* More stupid bootstrap stuff */
.dashboards li {
    margin-bottom: 0.5em;
}

/* Changes text color of dashboard names on modal buttons */
.dashboards li a {
    color: black !important;
}

/* Changes the padding for the body of the panels which contain the dashboards */
.panel-collapse > .panel-body {
    padding: 0;
}

/* Centers the "no topics" div in the right div */
#no-topics {
    margin: 3em auto;
    max-width: 20em;
}

/* The wrapper for the cyfe dashboard that is selected (initially hidden until one is chosen) */
#cyfe-display {
    display: none;
    margin-top: 1.2em;
}

/*#back-button {
    margin-top: 0.5em;
    position: absolute;
    top: 7.75em;
    left: 0;
}*/

#cyfe-iframe {
    width: 100%;
    left: 0;
    height: 100vh;
}

.page {
    width: 900px;
    margin: 0 auto;
    margin-top: 10px;
}

.panel.panel-default .panel-heading {
    padding: 0;
}

@media screen and (max-width: 44em) {
    #header-wrapper {
        width: 100% !important;
    }
    #content {
        padding-top: 0;
        padding-bottom: 2em;
    }
    #cyfe-display {
        padding-right: 0;
        padding-left: 0;
    }
    .dashboard-selections-wrapper {

    }
}

/* To prevent bootstrap from being dumb... */
.container {
    padding: 0 !important;
}