.crumbs2 {
    display: block;
    margin-left:0px;
    margin-left:0px;
    padding: 0;
    padding-top: 10px; 
}
.crumbs2 li { display: inline; }
.crumbs2 li a,
.crumbs2 li a:link,
.crumbs2 li a:visited {
    color: #666;
    display: block;
    float: left;
    font-size: 15px;
    padding: 7px 16px 7px 19px;
    position: relative;
    text-decoration: none;
    border: 2px solid #d9d9d9;
    border-right-width: 0px;
}
.crumbs2 li a  { 
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.45, rgb(241,241,241)),color-stop(0.73, rgb(245,245,245)));
    background-image: -moz-linear-gradient( center bottom, rgb(241,241,241) 45%, rgb(245,245,245) 73%);
     
   }
 
.crumbs2 li.first a {
    border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
}
.crumbs2 li.last a {
    border-right-width: 1px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
}